@media (min-width: 768px) {
    #hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .album {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}